.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

@font-face {
  font-family: "FigTreeItalic";
  src: url("./assets/fonts/Figtree-Italic-VariableFont_wght.ttf") format("woff2");
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
    font-family: "FigTree";
    src: url("./assets/fonts/Figtree-VariableFont_wght.ttf") format("woff2");
    font-weight: 100 900;
    font-style: normal;
}

body {
    background-color: #F4D04E;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.card {
    background-color: #ffffff;
    padding: 24px;
    border: 1px solid black;
    border-radius: 15px;
    box-shadow: 8px 8px 0 black;
}

.image-1 {
    border-radius: 8px;
    height: 200px;
    display: block;
}

.card-body {
    padding-top: 24px;
    padding-bottom: 24px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.learn-btn, .header, .date, .description, .author {
    width: fit-content;
}

.learn-btn {
    background-color: #F4D04E;
    color: black;
    border: none;
    padding: 4px 12px;
    border-radius: 4px;
    font-weight: bold;
    cursor: pointer;
}

.header {
    font-family: "FigTree", sans-serif;
    font-size: 20px;
    font-weight: bold;
    line-height: 150%;
}

.date {
    font-family: "FigTree", sans-serif;
    font-size: 12px;
    line-height: 150%;
}

.description {
    max-width: 334px;
    line-height: 150%;
    font-family: "FigTree", sans-serif;
    color: #6B6B6B;
    font-size: 12px;
}

.author {
    font-family: "FigTree", sans-serif;
    font-size: 12px;
    font-weight: bold;
    line-height: 150%;
    display: flex;
    align-items: center;
    gap: 8px;
}

@media (min-width: 320px) and (max-width: 425px) {
    .image-1 {
        display: block;
        max-width: 279px;
        object-fit: cover;
    }

    .card-body {
        max-width: 279px;
    }
}
